body{
	background-color: black;
	
}

.corpo {
	background-image: url(./imagens/background.png);
	width: 400px;
	height: 200px;
	background-size: cover;
	margin: auto;
	padding: 1px 20px;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: black;
}

.instagram {
	list-style-image: url(./imagens/insta.png);
}

.twitter {
	list-style-image: url(./imagens/twitter.png);
}

.youtube {
	list-style-image: url(./imagens/youtube.png);
}

